ADITYAHOST_API_KEY=
ADITYAHOST_GATEWAY_URL=
ADITYAHOST_UPI=
APK_DOWNLOAD_URL=
APK_TUTORIAL_URL=
FAMGATEWAY_API_KEY=
FAMGATEWAY_GATEWAY_URL=
FAMPAY_API_KEY=
FAMPAY_GATEWAY_URL=
KALAM_MASTER_API_KEY=
PAYMENT_PROOF_CHANNEL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_CHAT_ID=
TELEGRAM_PROOF_BOT_TOKEN=
TELEGRAM_PROOF_CHAT_ID=
UPSTREAM_API_KEY=
UPSTREAM_WEBSITE_URL=
ZAPUPI_GATEWAY_URL=
ZAPUPI_KEY=