ADITYAHOST_API_KEY=
ADITYAHOST_GATEWAY_URL=
ADITYAHOST_UPI=
FAMGATEWAY_API_KEY=
FAMGATEWAY_GATEWAY_URL=
FAMPAY_API_KEY=
FAMPAY_GATEWAY_URL=
FIREBASE_API_KEY=
GEMINI_API_KEY=
ZAPUPI_GATEWAY_URL=
ZAPUPI_KEY=